html,
body {
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav img {
    position: absolute;
    left: 2%;
    top: 1%;
    height: auto;
    width: 8%;
}